{
	log {
		output discard
	}
}

localhost:8546 {
	tls internal
	reverse_proxy localhost:8545
}
localhost:9546 {
	tls internal
	reverse_proxy localhost:9545
}
localhost:7546 {
	tls internal
	reverse_proxy localhost:7545
}
